!!! 5
%html{ lang: 'de' }
  %head
    %meta{ charset: UTF-8 }
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all'
    = yield_content :head

  %body{ class: page_classes }
    = yield
    = javascript_include_tag 'application'
